:root {
  --white-color: white;
  --black-color: #201d34;
  --gray-color: #e5e7eb;
  --light-gray-color: #f8f4f6;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: var(--black-color);
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
  margin: 3rem auto 0 auto;
  padding: 0;
  width: 50vw;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  margin-top: 3rem;
  padding: 0;
}
p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  width: 50vw;
  margin: 1rem auto 0 auto;
}

header {
  height: 90px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-color);
}

header img {
  height: 60px;
  margin-left: 4rem;
}

header .menu {
  display: none;
  width: 24px;
  height: 24px;
  position: relative;
  background-color: transparent;
  border: none;
  color: var(--black-color);
  padding: 0;
  margin-right: 1rem;
  text-align: center;
  cursor: pointer;
}

header .menu div {
  display: none;
  font-size: 2rem;
  line-height: 1rem;
}

header .menu span {
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 3px;
  background-color: var(--black-color);
  transition: rotateX 0.8s ease-in-out;
}

header .menu span:nth-child(2) {
  top: 10px;
}

header .menu span:nth-child(3) {
  top: 17px;
}

header .menu.open span {
  display: none;
}

header .menu.open div {
  display: block;
}

header .menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 2rem;
}

header nav ul li {
  padding: 0.2rem 0.5rem;
}

header nav ul li a {
  padding-bottom: 2.25rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.125rem;
}

header nav ul li.active a,
header nav ul li:hover a {
  border-bottom: 2px solid #f53373;
}

header nav div:first-of-type {
  font-size: 1.125rem;
  padding-right: 1rem;
  position: relative;
  padding-left: 1rem;
  margin-right: 4rem;
  cursor: pointer;
}

header nav div:first-of-type::after {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--black-color);
  position: absolute;
  top: 50%;
  right: 0;
}

header nav div:first-of-type img {
  height: 20px;
  margin-left: 0;
}

#menu-expander {
  flex-wrap: wrap;
  background-color: var(--white-color);
  position: absolute;
  top: 2.5rem;
  z-index: 10;
  gap: 1rem;
  left: 0;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: auto;
}
#menu-expander li {
  padding: 0;
  display: flex;
  align-self: flex-start;
}
#menu-expander li a {
  padding-bottom: 0;
  text-transform: none;
}
#menu-expander li a:hover {
  border: none;
}
footer {
  display: flex;
  background-color: #f8f4f6;
  padding: 4.5rem 1.5rem;
  justify-content: space-between;
}
footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer nav ul li a {
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: #201d34;
  font-weight: 300;
}
footer div img {
  height: 55px;
  opacity: 0.2;
}

footer div:first-of-type {
  height: 100%;
  align-self: center;
}

footer div p:first-of-type {
  text-transform: uppercase;
  color: #201d34;
  font-weight: 300;
}
footer div p {
  color: #201d34;
  font-weight: 300;
  line-height: 0.6rem;
  margin-bottom: 0;
  width: auto;
  font-size: 1rem;
}

section {
  width: 100%;
  text-align: center;
  margin-top: 4rem;
  padding-bottom: 2rem;
  position: relative;
}
section::after {
  content: "";
  width: 40%;
  left: 30%;
  height: 1px;
  background-color: var(--black-color);
  position: absolute;
  bottom: 0;
}

section:nth-child(2) div {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
section:nth-child(2) div h2 {
  margin: 0;
}

section:nth-child(2) div:first-of-type a {
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--black-color);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--black-color);
}
.button {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-align: center;
  border-radius: 9999px;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  background-image: linear-gradient(90deg, #f53373, #bf51e8);
  color: white;
  margin-top: 2rem;
  display: inline-block;
  border: none;
}

section:nth-child(2) div:last-of-type {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
section:nth-child(2) div:last-of-type a {
  text-decoration: none;
  display: block;
  flex-grow: 0;
  width: 45%;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--black-color);
}
section:nth-child(2) div:last-of-type a img {
  width: 100%;
  height: 7rem;
  margin-bottom: 1rem;
  object-fit: cover;
}
section:nth-child(3) > div {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

section:nth-child(3) > div > div {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  width: 8rem;
}
section:nth-child(3) > div > div img {
  width: 8rem;
  height: 8rem;
  border: 2px solid var(--black-color);
  border-radius: 50%;
  display: block;
  margin-bottom: 1rem;
  color: var(--black-color);
  fill: var(--black-color);
  padding: 2rem;
}

section:nth-child(4) > div {
  display: flex;
  justify-content: center;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  position: relative;
}
section:nth-child(4)::after,
section:nth-child(5)::after {
  display: none;
}

section:nth-child(4) > div article img {
  width: 4rem;
  height: 4rem;

  border-radius: 50%;
  overflow: hidden;
}

section:nth-child(4) > div #left,
section:nth-child(4) > div #right {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 6rem;
  line-height: 3rem;
  cursor: pointer;
}
section:nth-child(4) > div #left {
  left: 0;
}
section:nth-child(4) > div #right {
  right: 0;
}

section:nth-child(4) > div article p {
  font-size: 1rem;
  width: 24rem;
  line-height: 1.5rem;
}

section:nth-child(4) > div article:last-of-type {
  /* display: none; */
}

#second-article {
  /* display: none; */
}

section:nth-child(5) > form {
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  position: relative;
  border: 1px solid var(--black-color);
  border-top-width: 8px;
  border-radius: 0.75rem;
  padding-left: 2.25rem;
  padding-bottom: 3rem;
  padding-right: 2.25rem;
}

section:nth-child(5) > form p {
  width: auto;
  font-size: 1rem;
  font-weight: 400;
}
section:nth-child(5) > form .button {
  width: auto;
  font-size: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

section:nth-child(5) > form input[type="email"] {
  min-width: 20rem;
  border: 1px solid var(--black-color);
  padding: 1rem 1.25rem;
  margin-right: 0.5rem;
  border-radius: 1.5rem;
}

section:nth-child(5) > form > h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.dark {
  --white-color: #201d34;
  --black-color: white;
  --gray-color: #374151;
  --light-gray-color: #f8f4f6;
}

.dark header > img,
.dark section:nth-child(3) > div > div > img {
  filter: brightness(0) invert(1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: 0px;
  background-color: #ccc;
  background-image: url(../img/icons/moon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f53373;
}
input:checked + .slider::before {
  background-image: url(../img/icons/sun.svg);
}

input:focus + .slider {
  box-shadow: 0 0 1px #f53373;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 480px) {
  body {
    display: block;
    max-width: 480px;
  }
  section img {
    width: 100%;
    height: auto;
    max-width: 480px;
  }
  section h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    width: 100%;
    margin-top: 40px;
  }
  section p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-top: 2rem;
  }
  section::after {
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    height: 2px;
  }
  .button {
    font-size: 1rem;
    width: 11rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }

  section:nth-child(2) {
    width: 100%;
  }
  section:nth-child(2) div {
    display: block;
    width: 100%;
  }
  section:nth-child(2) div h2 {
    font-size: 2rem;
    margin-bottom: 28px;
  }

  section:nth-child(2) div:first-of-type a {
    font-size: 1rem;
  }

  section:nth-child(2) div:last-of-type {
    width: 100%;
    display: block;
  }
  section:nth-child(3) h2 {
    font-size: 1.875rem;
    font-weight: 700;
  }
  section:nth-child(2) div:last-of-type a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--black-color);
  }
  section:nth-child(2) div:last-of-type a img {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 8%;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  section:nth-child(3) > div {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    justify-content: space-evenly;
  }

  section:nth-child(4) > h2 {
    font-size: 2rem;
  }
  section:nth-child(4) > div {
    width: 100%;
  }
  section:nth-child(4) > div article p {
    width: 75%;
  }
  section:nth-child(5) > form {
    width: 100%;
  }

  section:nth-child(5) > form .button {
    width: 100%;
    font-size: 16px;
    margin-top: 1rem;
  }

  section:nth-child(5) > form p {
    line-height: 1.25rem;
    opacity: 0.8;
    width: 90%;
    text-align: center;
    margin-bottom: 2rem;
  }
  footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 24px;
  }
  footer nav ul li {
    font-size: 0.75rem;
  }
  footer div img {
    padding-left: 5rem;
  }
  footer div p:first-of-type {
    margin-top: 3rem;
    font-size: 14px;
    text-align: center;
    margin-bottom: 1rem;
  }

  header {
    height: 60px;
  }
  header img {
    height: 40px;
    margin-left: 3rem;
  }
  header .menu {
    display: block;
  }

  header nav {
    display: none;
    width: auto;
    min-width: 15rem;
    position: absolute;
    left: 0;
    top: 60px;
    bottom: 0;
    background-color: var(--white-color);
    border-right: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
    margin-right: 0;
    padding: 2rem 3rem;
    z-index: 20;
  }

  header nav.open {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 1rem;
  }

  header nav ul,
  header nav ul li {
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
    padding: 0;
  }

  header nav ul li {
    flex-direction: row;
    gap: 0;
    margin-bottom: 1rem;
  }

  header nav ul li a {
    padding-bottom: 0;
  }

  header nav div:first-of-type {
    min-width: 8rem;
    padding-left: 0;
    margin-right: 0;
  }

  header nav div:first-of-type::after {
    top: 0.6rem;
    right: 0;
  }
  #menu-expander {
    flex-basis: 100%;
    position: relative;
    top: auto;
    margin-top: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
}
